.asks {
    color: red;
}

.bids {
    border-right: solid 5px #666;
    color: green;
}

.order-pane {
    max-height: 95vh;
    overflow-y: scroll;
}

.orderbook {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.orderbook-column {
    display: inline-block;
    margin-right: 3rem;
    width: 20%;
}

.orderbook-align {
    color: #000;
    flex-basis: 50px;
    font-weight: bold;
}

.orderbook-cell {
    display: flex;
    flex-basis: 20px;
    flex-direction: row;
}

.orderbook-value {
    flex-basis: 100px;
    display: flex;
}

.side-label {
    margin: 0.1rem 0 1rem;
}